# Workflow derived from https://github.com/r-lib/actions/tree/master/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  workflow_dispatch:
  push:
    branches: ["main"]
    paths: ["R/**"]

permissions:
  contents: write
  
name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes
    steps:
      - uses: actions/checkout@v4

      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: 'latest'
          use-public-rspm: true
          
      - name: Install Boost Headers
        run:  sudo apt update -y && sudo apt install -y libboost-all-dev
        
      - name: Install dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::rcmdcheck
            any::roxygen2
            any::BH
            any::Rcpp
            any::RcppEigen
          needs: |
            check
            roxygen2
            
      - name: Document
        run: roxygen2::roxygenise()
        shell: Rscript {0}
        
      - name: Commit and push document changes
        run: |
          git config --local user.name "$GITHUB_ACTOR"
          git config --local user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git add man/\* NAMESPACE DESCRIPTION
          git commit -m "Update documentation" || echo "No changes to commit"
          git pull
          git push

      - name: Check
        uses: r-lib/actions/check-r-package@v2
          